<h2>Markets</h2>

<table class="table table-hover table-striped table-bordered table-sm">
    <tr class="table-dark">
        <th>Name</th>
        <th>Company Name</th>
        <th>Price</th>
        <th>Change</th>
        <th>Volume</th>
        <th>Market Cap</th>
        <th colspan="2"></th>
    </tr>

    <% @top_10_stocks.each do |stock|%>
        <tr>
            <td><%= stock.symbol %></td>
            <td><%= stock.company_name %></td>
            <td><%= stock.latest_price %></td>
            <td><%= stock.change_percent_s %></td>
            <td><%= stock.avg_total_volume %></td>
            <td><%= stock.market_cap %></td>
            <td class="d-inline justify-content-lg-center"><%= link_to 'Buy', buy_stock_path(stock.symbol), class: "btn btn-outline-dark btn-sm" %></td>
            <td class="d-inline justify-content-lg-center"><%= link_to 'Sell', out_stock_path(stock.symbol), class: "btn btn-outline-dark btn-sm"%></td>
        </tr> 

    <%end%> 

</table>


