<% if user_signed_in? %>
  <h1>Stocks</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th> User ID</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @stocks.each do |stock| %>
          <% if stock.user == current_user %>
          <tr>
            <td><%= link_to stock.name, stock %></td>
            <td><%= stock.price %></td>
            <td><%= stock.quantity %></td>
            <td><%= stock.user_id %></td>
            <td><%= link_to 'Edit', edit_stock_path(stock) %></td>
            <td><%= link_to 'Destroy', stock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

  <br>

  <%= link_to 'New Stock', new_stock_path %>
<% else %>
  <%= redirect_to 'home/index' %>
<% end %>