<h2>Markets</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Company Name</th>
        <th>Price</th>
        <th>Change</th>
        <th>Volume</th>
        <th>Market Cap</th>
        <th colspan="2"></th>
    </tr>

    <% @top_10_stocks.each do |stock|%>
        <tr>
            <td><%= stock.symbol %></td>
            <td><%= stock.company_name %></td>
            <td><%= stock.latest_price %></td>
            <td><%= stock.change_percent_s %></td>
            <td><%= stock.avg_total_volume %></td>
            <td><%= stock.market_cap %></td>
            <td><%= link_to 'Buy', buy_stock_path(stock.symbol) %></td>
            <td><%= link_to 'Sell', out_stock_path(stock.symbol)%></td>
        </tr> 

    <%end%> 

</table>


