<p>
  <strong>Name:</strong>
  <%= @company_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @latest_price %>
</p>

<%= link_to 'Buy', buy_stock_path(@stock) %>
<%= link_to 'Sell', out_stock_path(@stock)%>

<%= link_to 'Back', stocks_path %>
